@import 'bootstrap-reboot.min.css';
@import 'bootstrap-grid.min.css';
@import 'vars.scss';

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: $light;
	color: $dark;
	font-family: sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	@include smText;
}

body {
	display: table;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}
h1 {
	@include xxlText;
}
h2 {
	@include xlText;
}
h3 {
	@include lgText;
}
h4 {
	@include mdText;
	font-weight: normal;
}
h5 {
	@include smText;
	font-weight: normal;
}

p {
	margin: 0 0 1rem 0;
	&:last-of-type {
		margin: 0;
	}
}

img {
	width: 100%;
}

.mobile {
	@include hide;
}

@include sm {
	.mobile {
		@include show;
	}
	.desktop {
		@include hide;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin: 0 0 1rem 0;
}

header {
	padding: 1rem;
}

#map {
	width: 100%;
	height: 100%;
}
.marker {
	width: 2rem;
	height: 2rem;
	background-image: url(dot1.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1rem;
	border-radius: 50%;
	// transform: scale(1.2);
	&.hide {
		display: none;
	}
	&.active, &:hover {
		background-size: 1.5rem;
		border: 2px solid $dark;
		border-radius: 50%;
		.marker-label {
			display: block;
			z-index: 999999;
		}
	}
	&:hover {
		cursor: pointer;
		z-index: 1000 !important;
		.marker-label {
			display: block;
			z-index: 1002;
		}
	}
	// &:not(.active):hover .marker-label {
		// display: block;
	// }
}
.marker-label {
	width: 300px;
	position: absolute;
	left: 13px;
	bottom: calc(5rem - 2px);
	// pointer-events: none;
	z-index: 1001;
	display: none;
	margin-left: -150px;
}
.marker-label-inner {
	display: table;
	margin: auto;
	padding: 7px 10px;
	background-color: $light;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 0 rgba($dark, .2);
	border: 2px solid black;
	font-size: 20px;
	@include mdText;
	font-weight: bold;
	text-align: center;
	.active & {
		box-shadow: unset;
	}
}

.leaflet-popup-tip-container {
	height: 3rem;
	width: 2px;
	margin-left: -1.5px;
	&::after {
		content: "";
		width: 2px;
		height: 100%;
		background-color: $dark;
		display: block;
		margin: auto;
	}
}
.leaflet-popup-tip {
	display: none;
}

.leaflet-overlay-pane {
	// mix-blend-mode: overlay;
	svg path {
		// stroke: $highlight;
		// stroke-width: 5px;
	}
}

.leaflet-popup {
	width: 300px;
	position: absolute;
	left: -150px !important;
	bottom: calc(4rem - 2px) !important;
	width: 300px;
	margin-bottom: 0;
	border: 2px solid black;
}
.leaflet-popup-content-wrapper {
	min-height: 200px;
	background-color: $light;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 0 rgba($dark, .2);
	z-index: 1002;
}
.leaflet-popup-content {
	min-width: 100%;
	margin: 0;
	padding: 0 5px;
}
.popup-label {
	width: 100;
	@include mdText;
	font-weight: bold;
	text-align: center;
	padding: 10px 5px 5px;
}
.popup-field {
	width: 100%;
	padding: 7px 0;
	border-top: 1px solid $dark;
	@include smText;
}
.popup-field-label {
	font-weight: bold;
	display: inline;
	&::after {
		content: ': ';
		display: inline;
	}
}
.popup-field-value {
	display: inline;
}
.read-more {
	text-align: center;
	padding: 0 0 5px 0;
	a {
		color: red;
		font-weight: bold;
		@include smText;
	}
}

.leaflet-container {
	a.leaflet-popup-close-button {
		width: 20px;
		height: 20px;
		top: -7px;
		right: -7px;
		padding: 2px 0 0 0;
		text-align: center;
		color: $dark;
		background-color: $light;
		border-radius: 50px;
		box-shadow: 0px 0px 10px 0 rgba($dark, .5);
		&:hover {
			color: unset;
			// background-color: $highdark;
			box-shadow: 0px 0px 10px 0 rgba($dark, .4);
			transform: scale(1.2);
		}
	}
}
.leaflet-tile-pane {
	backface-visibility: hidden;
	transform: translate3d(0,0,0);
}
aside {
	width: 300px;
	position: fixed;
	right: 1rem;
	top: 1rem;
	z-index: 2000;
}
form {
	width: 100%;
	height: auto;
	min-height: 5rem;
	margin: 0 0 1rem 0;
	background-color: $light;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 0 rgba($dark, .2);
	border: 2px solid $dark;
	legend {
		@include mdText;
		font-weight: bold;
		padding: 10px 5px;
	}
	fieldset {
		padding: 0 5px;
	}
	.option {
		width: 100%;
		display: flex;
		align-items: center;
		border-top: 2px solid $dark;
		@include smText;
	}
	input {
		margin: 0 0 0 3px;
	}
	label {
		width: 100%;
		padding: 7px 0 7px 5px;
		margin: 0;
	}
	input:hover, label:hover {
		cursor: pointer;
	}
}